.section {
  width: 1000px;
  height: 800px;
  padding-top: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(10px, 1fr));
  grid-gap: 10px;
  grid-template-areas: "div1 div1 div1 div1 div1 div1 div1 div1 div1 div1 div1 div1" "div2 div2 div2  div2 div2 div2 div3 div3 div3 div3 div3 div3" "div4 div4 div4 div4 div5 div5 div5 div5 div6 div6 div6 div6" "div7 div7 div7 div8 div8 div8 div9 div9 div9 div10 div10 div10" "div11 div11 div12 div12 div13 div13 div14 div14 div15 div15 div16 div16";
}
.section div {
  background-color: yellow;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 45px;
  border-radius: 5px;
  box-shadow: 2px 0.5px 5px 1px red;
}
.section div:nth-child(1) {
  grid-area: div1;
}
.section div:nth-child(2) {
  grid-area: div2;
}
.section div:nth-child(3) {
  grid-area: div3;
}
.section div:nth-child(4) {
  grid-area: div4;
}
.section div:nth-child(5) {
  grid-area: div5;
}
.section div:nth-child(6) {
  grid-area: div6;
}
.section div:nth-child(7) {
  grid-area: div7;
}
.section div:nth-child(8) {
  grid-area: div8;
}
.section div:nth-child(9) {
  grid-area: div9;
}
.section div:nth-child(10) {
  grid-area: div10;
}
.section div:nth-child(11) {
  grid-area: div11;
}
.section div:nth-child(12) {
  grid-area: div12;
}
.section div:nth-child(13) {
  grid-area: div13;
}
.section div:nth-child(14) {
  grid-area: div14;
}
.section div:nth-child(15) {
  grid-area: div15;
}
.section div:nth-child(16) {
  grid-area: div16;
}
.section #home {
  display: block;
  width: 240px;
  padding: 20px;
  margin: 150px 350px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background-color: firebrick;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.section #home:hover {
  box-shadow: 3px 2px 10px 1px black;
  background-color: cyan;
  color: firebrick;
}

article {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-rows: repeat(12, minmax(1fr 10px));
  grid-gap: 10px;
  grid-template-areas: "div1 div2 div4 div7 div11 div17" "div1 div2 div4 div7 div11 div18" "div1 div2 div4 div7 div12 div19" "div1 div2 div4 div8 div12 div20" "div1 div2 div5 div8 div13 div21" "div1 div2 div5 div8 div13 div22" "div1 div3 div5 div9 div14 div23" "div1 div3 div5 div9 div14 div24" "div1 div3 div6 div9 div15 div25" "div1 div3 div6 div10 div15 div26" "div1 div3 div6 div10 div16 div27" "div1 div3 div6 div10 div16 div28";
}
article div {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  color: white;
  background-color: darkgreen;
  border-radius: 5px;
  box-shadow: 2px 0.7px 4px 1px darkblue;
}
article div:nth-child(1) {
  grid-area: div1;
}
article div:nth-child(2) {
  grid-area: div2;
}
article div:nth-child(3) {
  grid-area: div3;
}
article div:nth-child(4) {
  grid-area: div4;
}
article div:nth-child(5) {
  grid-area: div5;
}
article div:nth-child(6) {
  grid-area: div6;
}
article div:nth-child(7) {
  grid-area: div7;
}
article div:nth-child(8) {
  grid-area: div8;
}
article div:nth-child(9) {
  grid-area: div9;
}
article div:nth-child(10) {
  grid-area: div10;
}
article div:nth-child(11) {
  grid-area: div11;
}
article div:nth-child(12) {
  grid-area: div12;
}
article div:nth-child(13) {
  grid-area: div13;
}
article div:nth-child(14) {
  grid-area: div14;
}
article div:nth-child(15) {
  grid-area: div15;
}
article div:nth-child(16) {
  grid-area: div16;
}
article .number {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
.container #home {
  display: block;
  width: 240px;
  padding: 20px;
  margin: 150px 350px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background-color: firebrick;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.container #home:hover {
  box-shadow: 3px 2px 10px 1px black;
  background-color: cyan;
  color: firebrick;
}/*# sourceMappingURL=main.css.map */